.bienvenida-page {
  background-image: url('../../assets/bienvenidaBG.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bienvenida-page .md-header {
  background: transparent !important;
  box-shadow: none !important;
  z-index: 10;
  position: relative;
}

.bienvenida-page .md-main {
  background: rgba(130, 87, 87, 0.5);
  box-shadow: none !important;
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 20;
  position: relative;
}

[data-md-color-scheme="default"] {
    --md-logo-image: url(../assets/logoCut.png);
    .md-sidebar .md-nav__item--active > .md-nav__link {
      color: black !important;
      font-weight: bold;
    }
  }
  
  [data-md-color-scheme="slate"] {
    --md-logo-image: url(../assets/logoCut_alt.png);
    .md-sidebar .md-nav__item--active > .md-nav__link {
      color: rgb(193, 183, 183) !important;
      font-weight: bold;
    }
  }
  
  .md-logo img {
    content: var(--md-logo-image);
  }

  .md-sidebar .md-nav__link--active {
    color: #d42323 !important;
  } 

  .md-nav__link--active {
    color: #d42323 !important;
    font-weight: bold !important; 
  }
  
  .md-nav__link--active::before {
    content: '▶ ';
    color: #d42323 !important;
  }