[data-md-color-scheme="default"] {
    --md-logo-image: url(/assets/logoCut.png);
  }
  
  [data-md-color-scheme="slate"] {
    --md-logo-image: url(/assets/logoCut_alt.png);
  }
  
  .md-logo img {
    content: var(--md-logo-image);
  }